// Footer
.footer-logo {
  margin-bottom: 30px;
  margin-left: 50px;
}
.container-footer {
  justify-content: space-around;
  margin-bottom: 85px;
  margin-left: 95px;
  display: flex;
}
.footer-column-1 {
  margin-left: 95px;
}
.footer-input {
  @include input;
  width: 330px;
  padding: 5px;
}
.footer-button {
  @include button;
  padding: 10px;
}
.footer-item {
  margin-bottom: 10px;
  padding: 5px;
}
