@import "./normalize";
@import "./fonts";
@import "./variable";
@import "./main";
@import "./mixin";
@import "./header";
@import "./navigation";
@import "./footer";

//  Design Thinking
h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  width: 520px;
}
.design-thinking {
  flex-direction: column;
  margin-bottom: 110px;
  margin-left: 75px;
  margin-top: 60px;
  flex-wrap: wrap;
  display: flex;
  width: 1200px;
  height: 500px;
}
.design-thinking__link-watch {
  padding: 5px;
}
.design-thinking__link-watch {
  border-bottom: 1px solid $c-orange;
}
.design-thinking__text {
  margin-bottom: 45px;
  width: 460px;
}
.design-thinking__button,
.design-tools__button {
  @include button;
  width: 175px;
}
.design-thinking__link {
  margin-left: 30px;
  font-weight: bold;
  color: $c-orange;
}
.design-thinking__image {
  margin-left: auto;
  margin-top: 70px;
}
//  Design tools
h3 {
  transform: translate(-50%, 0);
  margin-bottom: 55px;
  text-align: center;
  position: relative;
  width: 540px;
  left: 50%;
}
.design-tools {
  justify-content: space-around;
  margin-bottom: 60px;
  display: flex;
}
.design-tools__first,
.design-tools__design,
.design-tools__preference,
.design-tools__five {
  height: 240px;
  width: 240px;
}
.design-tools__first__icon,
.design-tools__design__icon,
.design-tools__preference__icon,
.design-tools__five__icon {
  margin-bottom: 30px;
}
.design-tools__first__title,
.design-tools__design__title,
.design-tools__preference__title,
.design-tools__five__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}
.design-tools__button {
  transform: translate(-50%, 0);
  margin-bottom: 110px;
  position: relative;
  left: 50%;
}
// Design Professionals
.container-design-professionals {
  margin-bottom: 60px;
  margin-left: 50px;
  display: flex;
}
.design-professionals {
  width: 600px;
}
h2 {
  margin-bottom: 20px;
}
.design-professionals__text {
  margin-bottom: 25px;
}
.design-professionals__smoll-title {
  margin-bottom: 15px;
  font-weight: bold;
}
.design-professionals-image {
  margin-left: 80px;
}
// Product Managers
.container-product-managers {
  margin-bottom: 60px;
  display: flex;
}
.product-managers {
  margin-left: 80px;
  width: 550px;
}
.product-managers-image {
  margin-left: 50px;
}
.product-managers__item {
  display: flex;
}
.product-managers__item__icon {
  margin-right: 30px;
}
.product-managers__text,
.product-managers__item {
  margin-bottom: 30px;
}
// Marketers
.container-marketers {
  margin-bottom: 150px;
  margin-left: 50px;
  display: flex;
}
.marketers {
  width: 600px;
}
.marketers__text {
  margin-bottom: 25px;
}
.marketers__smoll-title {
  margin-bottom: 15px;
  font-weight: bold;
}
.marketers-image {
  margin-left: 80px;
}
hr {
  margin-bottom: 110px;
  margin-left: 50px;
  color: $c-line;
  width: 1200px;
}
