@import './normalize';
@import './main';
@import './header';
@import './navigation';
@import './variable';

%button {
  height: 45px;
  border-radius: 4px;
  background-color: $c-orange;
  color: $c-white;
  border: none;
  font-weight: bold;
}
%input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid $c-gray-button-input;
  border-radius: 4px;
}

//  Design Thinking
h1 {
  margin-top: 120px;
  margin-bottom: 30px;
}
.design-thinking {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 75px;
  width: 1200px;
  height: 500px;
  margin-bottom: 110px;
}
.design-thinking__text {
  margin-bottom: 45px;
}
.design-thinking__button,
.design-tools__button {
  @extend%button;
  width: 175px;
}
.design-thinking__link {
  font-weight: bold;
  color: $c-orange;
  margin-left: 30px;
}
.design-thinking__image {
  margin-left: auto;
  margin-top: 70px;
}
//  Design tools
h3 {
  text-align: center;
  margin-bottom: 55px;
}
.design-tools {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
.design-tools__first,
.design-tools__design,
.design-tools__preference,
.design-tools__five {
  width: 240px;
  height: 240px;
}
.design-tools__first__icon,
.design-tools__design__icon,
.design-tools__preference__icon,
.design-tools__five__icon {
  margin-bottom: 30px;
}
.design-tools__first__title,
.design-tools__design__title,
.design-tools__preference__title,
.design-tools__five__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}
.design-tools__button {
  margin-bottom: 110px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
// Design Professionals
.container-design-professionals {
  display: flex;
  margin-left: 50px;
  margin-bottom: 60px;
}
.design-professionals {
  width: 600px;
}
h2 {
  margin-bottom: 20px;
}
.design-professionals__text {
  margin-bottom: 25px;
}
.design-professionals__smoll-title {
  margin-bottom: 15px;
  font-weight: bold;
}
.design-professionals-image {
  margin-left: 80px;
}
// Product Managers
.container-product-managers {
  display: flex;
  margin-bottom: 60px;
}
.product-managers {
  width: 550px;
  margin-left: 80px;
}
.product-managers-image {
  margin-left: 50px;
}
.product-managers__item {
  display: flex;
}
.product-managers__item__icon {
  margin-right: 30px;
}
.product-managers__text,
.product-managers__item {
  margin-bottom: 30px;
}
// Marketers
.container-marketers {
  display: flex;
  margin-left: 50px;
  margin-bottom: 150px;
}
.marketers {
  width: 600px;
}
.marketers__text {
  margin-bottom: 25px;
}
.marketers__smoll-title {
  margin-bottom: 15px;
  font-weight: bold;
}
.marketers-image {
  margin-left: 80px;
}
hr {
  width: 1180px;
  color: $c-line;
  margin-left: 50px;
  margin-bottom: 110px;
}
// Footer
.footer-logo {
  margin-left: 50px;
  margin-bottom: 30px;
}
.container-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 85px;
  height: 160px;
  margin-left: 95px;
}
.footer-column-1 {
  margin-left: 95px;
}
.footer-input {
  width: 330px;
  @extend%input;
}
.footer-button {
  @extend%button;
  width: 130px;
}
.footer-item {
  margin-bottom: 10px;
}
