// Button
@mixin button {
  background-color: $c-orange;
  border-radius: $b-radius;
  font-weight: bold;
  color: $c-white;
  height: 45px;
  border: none;
}
// Input
@mixin input {
  border: 1px solid $c-gray-button-input;
  border-radius: $b-radius;
  margin-bottom: 20px;
  height: 50px;
}
