// Navigation
%button {
  height: 45px;
  border-radius: 4px;
  background-color: $c-orange;
  color: $c-white;
  border: none;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin-left: -40px;
  .navigation__link {
    margin-left: 100px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    .navigation__link__product,
    .navigation__link__customers,
    .navigation__link__pricng,
    .navigation__link__resourсes {
      padding: 5px;
    }
  }
  .navigation__button {
    margin-left: -90px;
    .navigation__button__sign-in {
      height: 45px;
      width: 100px;
      border-radius: 4px;
      background-color: $c-white;
      color: $c-text-button;
      border: 1px solid $c-gray-button-input;
      font-weight: bold;
    }
  }
  .navigation__button__sign-up {
    @extend%button;
    margin-left: 15px;
    width: 100px;
  }
}
