// * Color
$c-orange: #ff9900;
$c-white: #ffffff;
$c-line: #bcd0e5;
$c-gray-button-input: #bcd0e57f;
$c-text: #544837;
$c-title: #2f281e;
$c-text-button: #173a56;

// * Fonts
$f-basic: 16px;
$f-title1: 45px;
$f-title2: 35px;
$f-title3: 30px;
