mixin design-thinking()
    //- Design Thinking
    .design-thinking
      h1 The Design Thinking superpowers
      .design-thinking__text Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
      .design-thinking__button-link
        button.design-thinking__button(type="button") Get started
        a.design-thinking__link(href="#") 
          img.design-thinking__link-play(src="./svg/play.svg", alt="logo")
          span.design-thinking__link-watch Watch the Video
      .design-thinking__image
        img(src="./image/design-thinking.png", alt="foto")
