mixin design-tools()
    //- Design tools
    h3 We design tools to unveil your superpowers
    .design-tools
      .design-tools__first
        .design-tools__first__icon
          img(src="./svg/icon-first.svg", alt="icon")
        .design-tools__first__title First click tests
        .design-tools__first__text While most people enjoy casino gambling,
      .design-tools__design
        .design-tools__design__icon
          img(src="./svg/icon-design.svg", alt="icon")
        .design-tools__design__title Design surveys
        .design-tools__design__text Sports betting, lottery and bingo playing for the fun
      .design-tools__preference
        .design-tools__preference__icon
          img(src="./svg/icon-preference.svg", alt="icon")
        .design-tools__preference__title Preference tests
        .design-tools__preference__text The Myspace page defines the individual.
      .design-tools__five
        .design-tools__five__icon 
          img(src="./svg/icon-five.svg", alt="icon")
        .design-tools__five__title Five second tests
        .design-tools__five__text Personal choices and the overall personality of the person.
    button.design-tools__button(type="button") SIGN UP NOW