mixin design-professionals()
  //- Design Professionals
  .container-design-professionals
    .design-professionals
      .design-professionals__text-before-title Effortless Validation for
      h2 Design Professionals
      .design-professionals__text The Myspace page defines the individual, his or her characteristics,traits, personal choices and the overall personality of the person.
      .design-professionals__smoll-title Accessory makers
      .design-professionals__text While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
      .design-professionals__smoll-title Alterationists
      .design-professionals__text If you are looking for a new way to promote your business that won’t cost you more money,
      .design-professionals__smoll-title Custom Design designers
      .design-professionals__text If you are looking for a new way to promote your business that won’t cost you more money,
    .design-professionals-image 
      img(src="./image/design-professionals.png" alt="foto")