mixin footer()
  //- Footer
  footer.footer
    //- Footer logo
    .footer-logo
      img(src="./svg/logo-productly.svg", alt="logo")
      img(src="./svg/productly.svg", alt="logo")
    .container-footer
      //- Footer link
      .footer-column-1
        .footer-item
          a(href="#") About Us
        .footer-item
          a(href="#") Blog
        .footer-item
          a(href="#") Contact
        .footer-item
          a(href="#") FAQ
      .footer-column-2
        .footer-item
          a(href="#") Disclaimer
        .footer-item
          a(href="#") Financing
        .footer-item
          a(href="#") Privacy Policy
        .footer-item
          a(href="#") Terms of Service
      .footer-inp-btn
        input.footer-input(type="text")
        br
        button.footer-button(type="button") Sign up Now
