mixin marketers()
    //- Marketers
    .container-marketers
      .marketers
        .marketers__text-before-title
        h2 Marketers
        .marketers__text Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
        .marketers__smoll-title Accessory makers
        .marketers__text While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
        .marketers__smoll-title Alterationists
        .marketers__text If you are looking for a new way to promote your business that won’t cost you more money,
        .marketers__smoll-title Custom Design designers
        .marketers__text If you are looking for a new way to promote your business that won’t cost you more money,
      .marketers-image
        img(src="./image/marketers.png", alt="foto")
    hr