mixin product-managers()
  //- Product Managers
  .container-product-managers
    .product-managers-image
      img(src="./image/product-managers.png" alt="foto")
    .product-managers
      .product-managers__text-before-title Easier decision making for
      h2 Product Managers
      .product-managers__text The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
      .product-managers__item
        .product-managers__item__icon
          img(src="./svg/icon-tick.svg" alt="icon")
        .product-managers__item__text Never worry about overpaying for your energy again.
      .product-managers__item
        .product-managers__item__icon
          img(src="./svg/icon-tick.svg" alt="icon")
        .product-managers__item__text Never worry about overpaying for your energy again.
      .product-managers__item 
        .product-managers__item__icon
          img(src="./svg/icon-tick.svg" alt="icon")
        .product-managers__item__text We will only switch you to energy companies that we trust and will treat you right
      .product-managers__item
        .product-managers__item__icon
          img(src="./svg/icon-tick.svg" alt="icon")
        .product-managers__item__text We track the markets daily and know where the savings are.