// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  width: 1200px;
  font-family: "Poppins", sans-serif;
  font-size: $f-base;
  color: $c-text;
  line-height: 26px;
}

h1,
h2,
h3 {
  color: $c-title;
  line-height: 55px;
  font-weight: bold;
}

h1 {
  font-size: $f-title1;
}

h2 {
  font-size: $f-title2;
}

h3 {
  font-size: $f-title3;
}
